body {
  margin: 0;

  font-family: 'Public Sans', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
    background-color: #0d354b;
}


.category-aktif {
  background-color: #0d354b;
  color: white;
}

.btn-primary{
  background-color: #0d354b;
  color: white;
}

/* .my-app {
  font-weight: bold;
  margin-left: 200px;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
